ticketing-frontend/node_modules/
ticketing-frontend/dist/
ticketing-frontend/.angular/
ticketing-frontend/coverage/
ticketing-backend/target/

# IDE-specific files
.vscode/
**/.idea/

Thumbs.db      # Windows system files

# Log files
*.log

# Temporary files
*.tmp