<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="'https://via.placeholder.com/150'" class="card-img" alt="Event Image">
      </div>
      <div class="col-md-8">
        <div  class="card-body">
          <h5 class="card-title">{{ event.eventName || 'Event Title' }}</h5>
          <p class="card-text">{{ event.price || 'Description not available' }}</p>
          <p class="card-text">{{ event.totalTickets || 'Description not available' }}</p>
          <p class="card-text"><small class="text-muted">{{ event.eventDate || 'Date not available' }}</small></p>
          <p class="card-text"><small class="text-muted">{{ event.eventTime || 'Date not available' }}</small></p>
          <button id="bookNowId" class="btn btn-primary" (click)="toggleSlide()">Add Ticket</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Slide Panel -->
  <div class="slide-panel" [class.open]="isSlideOpen">
    <div class="card card-body">
      <h5 class="card-title">Select Number of Tickets</h5>
      <div class="input-group">
        <button class="btn btn-outline-secondary" (click)="decreaseCount()">-</button>
        <input type="text" class="form-control text-center" [value]="ticketCount" readonly>
        <button class="btn btn-outline-secondary" (click)="increaseCount()">+</button>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-success" (click)="addTicket()">Add Ticket</button>
      </div>
      <!-- Cancel button at the bottom -->
      <div class="slide-footer d-flex justify-content-end mt-3">
        <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
  